# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Streamlit logs & cache
.streamlit/
*.log

# IDE configs
.vscode/
.idea/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Misc
*.bak
*.swp